
/*
  FileName - Footer.css
  Desc - This CSS file defines styles for the footer section of a web page, focusing on responsiveness for various screen sizes. These styles ensure that the footer section maintains a clean layout and readable text across various devices and screen sizes, with specific adjustments made to optimize the user experience on laptops, tablets, and mobile devices.
*/
.footer__links a {
  padding-left: 0rem !important;
}

.first__part img {
  width: 9.5625rem;
  height: 2.5rem;
}

.footer__copyright img{
  width:23px;
  padding-top: 5px;
  padding-left: 15px;
}

.footer__outer__container {
  background: #FFF;
}

.footer__container__top img{
  cursor: pointer;
}

.footer__container {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background: #FFF;
    text-decoration: none;  

    /* border: 2px solid green; */
}

.footer__container__top {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 76vw;
}

.link__tags{
  display:flex;
}

.company__copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The a tag is used for routing so the default styleing is made none to avoid the undelineing */
.footer__outer__container a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logoMoto{
  margin-top: 0.5rem;
  color: #6C6C6C;
}

.footer__copyright a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 3rem;
  line-height: normal;
}


.footer__links {
  display: flex;
  justify-content: center;
  align-items: center; /* Prevent wrapping */
}

/* Add the black line on the x-axis using ::before pseudo-element */
.line-on-x-axis {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: #000;
}

.social__media__icons{
  height: 1.6rem;
}

.footer__copyright a {
  color: #000;
  padding-left: 3rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-right: 0rem;
  width: 75vw;
  margin: auto;
}

hr{
  width: 85%;
  margin: auto;
}

.first__part{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.second__part,.third__part, .fourth__part {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.second__part a, .third__part a, .fourth__part a{
  padding: 10px 0px;
}

.footer__header {
  color: #0057B1;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.8rem;
}

/* Laptop - 1024 (Max - Width)*/
@media only screen and (min-width: 769px) and (max-width: 900px){
  .link__tagss{
    width: 22vw !important;
  }

  .company__copyright{
    width: 54vw !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){

  .footer__container__top {
    justify-content: space-between;
    width: 70vw;
    margin: 50px 0px;
  }

  .link__tags{
    width: 55vw;
    justify-content: space-evenly;
    padding-top: 8px;
  }

  .link__tags a{
    font-size: 14px;
  }
  
  .link__tagss{
    display: flex;
    justify-content: space-between !important;
    width: 25vw;
    margin-left: 5px;
    padding-bottom: 9px !important;
  }

  .footer__copyright a{
    padding-left: 0 !important;
  }

  .first__part{
    padding: 0px;
  }
  
  .first__part p{
    font-size:  16px;
  }
  
  .second__part,.third__part, .fourth__part {
    padding: 5px;
  }
  
  .second__part a, .third__part a, .fourth__part a{
    font-size: 16px;
  }

  .second__part p, .third__part p, .fourth__part p{
    font-size: 18px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .footer__copyright{
    padding: 20px;
    width: 80vw;
  }

  .company__copyright{
    font-size: 14px;
    padding: 0 !important;
    width: 60vw;
    justify-content: space-between;
  }

  .footer__links{
    width: 13vw;
    justify-content: space-around;
  }

  .footer__links p{
    font-size: 14px;
  }

  .footer__copyright img{
    width:20px;
    padding-left: 5px;
    padding-top: 5px !important;
  }
}


/* Tablet - 768px (Max - Width)*/
@media only screen and (min-width: 481px) and (max-width: 768px){
  .logoMoto{
    padding-top: 0.6rem;
  }

  .footer__container__top {
    justify-content: space-between;
    width: 75vw;
    margin: 50px 0px;
  }

  .link__tags{
    width: 55vw;
    justify-content: space-evenly;
  }

  .link__tags a{
    font-size: 10px;
  }
  
  .link__tagss{
    display: flex;
    justify-content: space-between !important;
    width: 24vw;
    margin-left: 5px;
  }

  .footer__copyright a{
    padding-left: 0 !important;
  }

  .first__part{
    padding: 0px;
  }
  
  .first__part p{
    font-size:  14px;
  }
  
  .second__part,.third__part, .fourth__part {
    padding: 5px;
  }

  .second__part{
    width: 17vw;
  }
  
  .second__part a, .third__part a, .fourth__part a{
    font-size: 14px;
  }

  .second__part p, .third__part p, .fourth__part p{
    font-size: 16px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .footer__copyright{
    padding: 20px;
    width: 85vw;
  }

  .company__copyright{
    font-size: 10px;
    padding: 0 !important;
    width: 58vw;
    justify-content: space-between;
  }

  .footer__links{
    width: 15vw;
    justify-content: space-around;
  }

  .footer__links p{
    font-size: 10px;
  }

  .footer__copyright img{
    width:20px;
    padding-left: 5px;
    padding-top: 5px !important;
  }
}

/* Mobile - 480px (Max - Width)*/
@media only screen and (max-width: 480px){
  .footer__container__top {
    justify-content: space-between;
    width: 75vw;
    margin: 50px 0px;
    flex-direction: column;
    align-items: center;
  }

  .link__tags{
    width: 80vw;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .link__tags a{
    font-size: 10px;
  }
  
  .link__tagss{
    display: flex;
    justify-content: space-between !important;
    width: 45vw;
    margin-left: 0px !important;
    margin-top: 0.8rem !important;
  }

  .footer__copyright a{
    padding-left: 0 !important;
  }

  .first__part{
    padding: 0px;
    align-items: center;
  }
  
  .first__part p{
    font-size:  14px;
  }
  
  .logoMoto{
    padding-top: 0.5rem !important;
  }

  .second__part,.third__part, .fourth__part {
    padding: 5px;
  }
  .second__part{
    width: 32vw;
  }
  .second__part a, .third__part a, .fourth__part a{
    font-size: 14px;
  }

  .second__part p, .third__part p, .fourth__part p{
    font-size: 16px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .footer__copyright{
    padding: 20px;
    width: 85vw;
  }

  .company__copyright{
    flex-direction: column;
    font-size: 10px;
    padding: 0 !important;
    justify-content: center;
    align-items: flex-start;
  }

  .footer__links{
    width: 25vw;
    justify-content: space-around;
    padding-bottom: 25px;
  }

  .footer__links p{
    font-size: 10px;
  }

  .footer__copyright img{
    width:20px;
    padding-left: 5px;
    padding-top: 5px !important;
  }
}

/* Mobile - 480px (Max - Width)*/
@media only screen and (min-width: 1025px) and (max-width: 1492px){
  .footer__container__top {
    width: 80vw;
  }

  .footer__copyright{
    width: 85vw;
  }

  hr{
    width: 90vw;
  }
}