/*
  FileName - Footer.css
  Desc - This CSS file defines styles for the footer section of a web page, focusing on responsiveness for various screen sizes.
*/
.footer__links a {
  padding-left: 0rem !important;
}

.first__part img {
  width: 9.5625rem;
  height: 2.5rem;
}

.footer__copyright img {
  width: 23px;
  height: 23px;
  padding-top: 0;
  padding-left: 15px;
}

.footer__outer__container {
  background: #fff;
}

.footer__container__top img {
  cursor: pointer;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background: #fff;
  text-decoration: none;
}

.footer__container__top {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 76vw;
}

.link__tags {
  display: flex;
}

.company__copyright {
  display: flex;
  align-items: center;
}

/* The a tag is used for routing so the default styling is made none to avoid the underlining */
.footer__outer__container a {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logoMoto {
  margin-top: 0.5rem;
  color: #6c6c6c;
}

.footer__copyright a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__links p {
  margin-bottom: 0;
}

.social__media__icons {
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 75vw;
  margin: auto;
}

.link__tagss {
  display: flex;
  justify-content: center;
}

.link__tagss a {
  margin-right: 20px;
}

.link__tagss a:last-child {
  margin-right: 0;
}

.social__media__text {
  margin-bottom: 0;
  margin-right: 5px;
}

hr {
  width: 85%;
  margin: auto;
}

.first__part {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.second__part,
.third__part,
.fourth__part {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.second__part a,
.third__part a,
.fourth__part a {
  padding: 10px 0px;
}

.footer__header {
  color: #0057b1;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.8rem;
}

/* Laptop - 1024 (Max - Width)*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer__container__top {
    justify-content: space-between;
    width: 70vw;
    margin: 50px 0px;
  }

  .link__tags {
    width: 55vw;
    justify-content: space-evenly;
    padding-top: 8px;
  }

  .link__tags a {
    font-size: 14px;
  }

  .link__tagss {
    display: flex;
    justify-content: center;
  }

  .link__tagss a {
    margin-right: 20px;
    padding-left: 0 !important;
  }

  .first__part {
    padding: 0px;
  }

  .first__part p {
    font-size: 16px;
  }

  .second__part,
  .third__part,
  .fourth__part {
    padding: 5px;
  }

  .second__part a,
  .third__part a,
  .fourth__part a {
    font-size: 16px;
  }

  .second__part p,
  .third__part p,
  .fourth__part p {
    font-size: 18px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .footer__copyright {
    padding: 20px;
    width: 80vw;
  }

  .company__copyright {
    font-size: 14px;
  }

  .footer__links {
    display: flex;
    align-items: center;
  }

  .footer__links p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer__copyright img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
  }
}

/* Tablet - 768px (Max - Width)*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logoMoto {
    padding-top: 0.6rem;
  }

  .footer__container__top {
    justify-content: space-between;
    width: 75vw;
    margin: 50px 0px;
  }

  .link__tags {
    width: 55vw;
    justify-content: space-evenly;
  }

  .link__tags a {
    font-size: 10px;
  }

  .link__tagss {
    display: flex;
    justify-content: center;
  }

  .link__tagss a {
    margin-right: 20px;
    padding-left: 0 !important;
  }

  .first__part {
    padding: 0px;
  }

  .first__part p {
    font-size: 14px;
  }

  .second__part,
  .third__part,
  .fourth__part {
    padding: 5px;
  }
  .second__part {
    width: 17vw;
  }
  .second__part a,
  .third__part a,
  .fourth__part a {
    font-size: 14px;
  }

  .second__part p,
  .third__part p,
  .fourth__part p {
    font-size: 16px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .footer__copyright {
    padding: 20px;
    width: 85vw;
  }

  .company__copyright {
    font-size: 10px;
  }

  .footer__links {
    display: flex;
    align-items: center;
  }

  .footer__links p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .footer__copyright img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
  }
}

/* Mobile - 480px (Max - Width)*/
@media only screen and (max-width: 480px) {
  .footer__container__top {
    justify-content: space-between;
    width: 75vw;
    margin: 50px 0px;
    flex-direction: column;
    align-items: center;
  }

  .link__tags {
    width: 80vw;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .link__tags a {
    font-size: 10px;
  }

  .footer__copyright {
    padding: 20px;
    width: 85vw;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .link__tagss {
    display: flex;
    margin-top: 0.8rem;
  }

  .link__tagss a {
    margin-right: 20px;
    padding-left: 0 !important;
  }

  .footer__links {
    align-self: flex-start;
    display: flex;
    align-items: center;
  }

  .first__part {
    padding: 0px;
    align-items: center;
  }

  .first__part p {
    font-size: 14px;
  }

  .logoMoto {
    padding-top: 0.5rem !important;
  }

  .second__part,
  .third__part,
  .fourth__part {
    padding: 5px;
  }
  .second__part {
    width: 32vw;
  }
  .second__part a,
  .third__part a,
  .fourth__part a {
    font-size: 14px;
  }

  .second__part p,
  .third__part p,
  .fourth__part p {
    font-size: 16px;
  }

  .first__part img {
    width: 9.5625rem;
    height: 2.5rem;
  }

  .company__copyright {
    font-size: 10px;
  }

  .footer__links p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .footer__copyright img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
  }
}

/* Larger screens */
@media only screen and (min-width: 1025px) and (max-width: 1492px) {
  .footer__container__top {
    width: 80vw;
  }

  .footer__copyright {
    width: 85vw;
  }

  hr {
    width: 90vw;
  }
}