/*
  FileName - Home.css
  Desc - This CSS file contains styles for various components of a web page. These styles collectively define the appearance and behavior of various components on a web page, making it responsive to different screen sizes.
*/
.nocursor {
  cursor: no-drop;
  background-color: #2780df !important;
}

.body__container {
  margin: 10rem;
  margin-bottom: 0;
  margin-top: 0;
}

.body__component {
  background-color: #f3f3f3;
}

.boy__img {
  z-index: 2;
  height:auto;
  width: 15rem;
  margin-top: 1.3rem;
}

.header__paragraph .cloudImage1 {
  width: 2rem;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.outer__layer__bdy__com {
  background-color: #F3F3F3;
  display: grid;
  align-items: center;
  justify-content: center;
}

.info__img {
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
  width: 100%;
  margin: 5rem auto;
  display: flex;
}

.body__header {
  padding-bottom: 0;
}

.outer__layer__body__header {
  background-image: url("../../public/heroSectionBackgroundImg.png");
  background-size: cover;
  background-color: #F3F3F3;
  z-index: 2;
}

.cloudImage1 {
  position: absolute;
  animation-name: example;
  right: 0px;
  animation-duration: 96s;
  animation-timing-function: linear;
  /* Use linear timing function to ensure smooth left-to-right motion */
  animation-iteration-count: infinite;
}

.cloudImage2 {
  position: absolute;
  top: 290px;
  animation-name: example2;
  animation-duration: 50s;
  animation-timing-function: linear;
  /* Use linear timing function to ensure smooth left-to-right motion */
  animation-iteration-count: infinite;
}

@keyframes example2 {
  0% {
    right: 0;
  }

  100% {
    right: calc(100% - 100px);
  }
}

@keyframes example {
  0% {
    right: 0;
  }

  100% {
    right: calc(100% - 100px);
  }
}

.landingSignupButton {
  color: #f3f3f3;
  background-color: #0057b1;
  border: none;
  border-radius: 0.625rem;
  margin-left: 17px;
  font-size: 18px;
  padding: 0.55rem 1rem;
}

.awareness__header {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body__awareness__msg {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #C1D5FF;
}

.body__awareness__msg__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.awareness__msg__block {
  display: flex;
  flex-direction: column;
}

.illustrationimg {
  width: 300px;
}

.arrowImg {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  transition: all .5s ease-out .1s;
}

.awareness__message {
  color: #000;
  
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}

.body__components {
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
  width: 100%;
  display: flex;
  padding: -1 0;
}

.paragraph__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-black {
  color: #000;
}

.body_secondary_para {
  
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 2rem;
}

.body__components img {
  width: 23.8125rem;
}

.color_change {
  color: #0057B1;
  font-weight: 600;
}

.company_moto {
  color: #000;
  
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.main__paragraph {
  color: #000;
  
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.signIn__link {
  display: flex;
  width: 100%;
}

.signIn__link>span {
  display: flex;
  align-items: center;
}

.signIn__link button {
  width: 105px;
}

.input__form {
  border: 2px solid #0057b1;
  border-radius: 0.625rem;
  background: #F3F3F3;
  padding: 0.5rem 1rem;
  font-size: 18px;
}

.input__form input {
  min-width: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #e7edf700 !important;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blinking 0.7s step-end infinite;
}

.input__form span {
  color: #6C6C6C;
}

.body__header {
  margin-bottom: 0;
}

.bodyMain__btn {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.main__btn {
  margin-left: 2rem;
  border-radius: 5.375rem;
  border: 2px solid #0057B1;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}

.bodyMain__btn Link {
  cursor: pointer;
}

.component__text {
  font-size: 1.2rem;
  padding-top: 1rem;
}

.bodyMain__container__outer {
  padding-top: 6rem;
  background: #f3f3f3;
}

.bodyMain__three__components {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  align-items: center;
  margin-top: 0px;
}

.bodyMain__component {
  display: inline;
  padding: 2.4375rem 3.75rem 6.25rem 1.375rem;
  flex-direction: column;
  margin: 2rem;
  gap: 2.4rem;
  height: 8rem;
  width: 12rem;
  background-color: #ffffffb3;
  border-radius: 1rem;
  transition: background-color .1s ease-in-out .3s;
}

.bodyMain__component:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
  background-color: #ffffff;
}

.down_btn {
  width: 10.25rem;
  height: 2.875rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  background-color: #0057B1;
  color: white;
}

.component__num {
  padding: 0;
  display: flex;
  color: #0057B1;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px gainsboro;
}

.more__msg__icon {
  padding: 0;
  display: flex;
  color: #151515;
  background-color: #e9e8e8;
  border-radius: 50%;
  padding: .3rem;
  width: 3rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.body__components {
  padding: 0;
}

.body__awareness__msg {
  padding: 3rem;
}

.awareness__msg__block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.more__msg__icon:hover {
  background-color: #0057B1;
  color: #f3f3f3;
}

.qna__header {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;
  padding-top: 52px;
}

.body__awareness__msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  display: flex;
  background-color: #C1D5FF;
  margin-bottom: 10px;
}

.body__awareness__msg__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.awareness__msg__block {
  display: flex;
  flex-direction: column;
}

.illustrationimg {
  width: 280px;
}

.arrowImg {
  height: 50px;
  width: 50px;
  margin-right: 121px;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s ease-out .1s;
}

.awareness__message {
  color: #000;
  
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 75%;
  text-align: justify;
}

@media screen and (min-width: 769px) and (max-width: 1209px) {
  .body__awareness__msg {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #C1D5FF;
  }

  .body__awareness__msg__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .awareness__msg__block {
    display: flex;
    flex-direction: column;
  }

  .illustrationimg {
    width: 300px;
  }

  .arrowImg {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .5s ease-out .1s;
  }

  .awareness__message {
    color: #000;
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;

  }

  .signIn__link button {
    border-radius: 0.325rem;
    position: relative;
  }

  .input__name {
    background-color: #e7edf700 !important;
  }

  .body__container {
    margin: 5rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* Your CSS styles for tablet in portrait mode */
}

/* mobile */
/* Additional styles for mobile view */
@media only screen and (max-width: 1007px) {
  .bodyMain__three__components {
    display: flex;
    /* Set display to flex to make the items display in a row */
    overflow: scroll;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* -webkit-overflow-scrolling: touch; */
    width: 100%;
    /* Set the width to 100% to fit the screen */
    max-width: 100vw;
    margin: 0 auto;
    margin-left: 20px;
    /* Center the components horizontally */

    /* Hide both scrollbar and scrollbar track in WebKit */
    scrollbar-width: none;
    /* Remove the scrollbar thumb */
    scrollbar-track-color: transparent;
    /* Make the scrollbar track transparent */
  }

  /* Hide scrollbar track for Firefox */
  .bodyMain__three__components::-webkit-scrollbar-track {
    background: transparent;
    /* Make the scrollbar track transparent for Firefox */
  }

  /* Hide scrollbar track line for WebKit */
  .bodyMain__three__components::-webkit-scrollbar {
    height: 0;
    /* Hide the scrollbar completely */
  }


  .bodyMain__component {
    width: 12rem;
    /* Set the width of each component to 12rem */
    height: 8rem;
    display: inline;
    /* Set the height of each component to 8rem */
    scroll-snap-align: start;
    flex-shrink: 0;
    /* Prevent the components from shrinking */
    margin-right: 1rem;
    /* Add some space between the components */
  }

  .bodyMain__component:last-child {
    margin-right: 40px;
    /* Remove the right margin from the last component */
  }

  .first__component {
    margin-left: 789px;
  }

  .signIn__link {
    flex-direction: column;
  }

  .landingSignupButton {
    margin-top: 1rem;
    margin-left: 0;
  }
}


@media only screen and (max-width: 950px) {

  .cloudImage1,
  .cloudImage2,
  .boy__img,
  .body__awareness__msg {
    display: none;
  }

  .company_moto {
    text-align: center;
  }

  .outer__layer__body__header {
    background: #f3f3f3;
  }

  .main__paragraph {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 0rem;
    padding-bottom: 4rem;
  }

  .body_secondary_para {
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -20px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .signIn__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main__btn {
    margin-left: 2rem;
    border-radius: 5.375rem;
    border: 2px solid #0057B1;
    padding: .4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
  }

  .signIn__link button {
    color: #f3f3f3;
    background: #0057b1;
    border-radius: 0.325rem;
    padding: 9.6px;
    position: relative;
    margin-top: 0;
    margin-left: 1rem;
  }

  .info__img {
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info__img img {
    width: 100%;
  }

  .body__container {
    margin: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2rem;
  }

  .toggle__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .study__boy {
    display: flex;
    flex-direction: column-reverse;
  }


  .body__awareness__msg {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #C1D5FF;
  }

  .body__awareness__msg__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .awareness__msg__block {
    display: flex;
    flex-direction: column;
  }

  .illustrationimg {
    width: 300px;
  }

  .arrowImg {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 50%;
    /* filter: invert(100%); */
    opacity: 1;
    transition: all .5s ease-out .1s;
  }

  .awareness__message {
    color: #000;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
  }


  .bodyMain__container__outer {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info__img {
    width: 70%
  }

  .qna__header {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }
}

@media (min-width: 200px) and (max-width: 450px) {
  .body__awareness__msg {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #C1D5FF;
  }

  .body__awareness__msg__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .awareness__msg__block {
    display: flex;
    flex-direction: column;
  }

  .illustrationimg {
    width: 300px;
  }

  .arrowImg {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 50%;
    /* filter: invert(100%); */
    opacity: 1;
    transition: all .5s ease-out .1s;
  }

  .awareness__message {
    color: #000;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
  }

  .body__container {
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2rem;
    
  }
}
