/*
  FileName - PageNotFound.css
  Desc - This CSS file contains styles for displaying error messages on a web page in a responsive manner. These styles are designed to ensure that error messages are displayed effectively on different screen sizes, with adjustments in margins, font sizes, and image dimensions as the screen size changes.
*/
.error-content {
  margin: 4rem 0 0 4rem;
  overflow: hidden; /* 10rem top, 10rem right, 0 bottom, 0 left */
}

.error-handle {
  overflow-y: hidden;
}

.error_status {
  color: #ff4040;
  font-family: Signika !important;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error_message {
  color: #0057b1;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.error__2msg {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 43.0625rem;
}

.go__home:visited {
  color: white;
}

.go__home {
  display: inline-flex;
  height: 2.875rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 0.625rem;
  background: #0057b1;
  color: #fff;
  border: 0;
}

.error-handle img {
  width: 31.5625rem;
  height: 25.125rem;
  flex-shrink: 0;
  position: relative;
  float: right; /* Float the image to the left */
  bottom: 15rem;
  overflow: hidden;
  /* Add some space between the image and the content */
}

/* Media query for laptop/desktop screens */
@media (max-width: 1213px) {
  .error-content {
    margin: 3rem 1.5rem 1.5rem 1.5rem; /* Adjust the margins for medium screens */
  }

  .error_status {
    font-size: 6rem;
  }

  .error__2msg {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35.0625rem;
  }

  .error-handle img {
    width: 29.5625rem;
    height: 23.125rem;
    position: relative;
    margin: 2rem 0 1.5rem 0; /* Adjust the margins for medium screens */
    float: right; /* Remove float for smaller screens */
    display: block; /* Ensure the image occupies full width */
  }
}

/* Media query for small screens */
@media (max-width: 904px) {
  .error-content {
    margin: 1.5rem 1rem 1rem 1rem; /* Adjust the margins for small screens */
  }

  .error_status {
    font-size: 4rem;
  }

  .error-handle img {
    width: 100%; /* Make the image full width for small screens */
    height: auto; /* Auto height to maintain aspect ratio */
    margin: 1.5rem 0 1rem 0; /* Adjust the margins for small screens */
    float: none;
    position: static;
  }

  .error__2msg {
    display: none; /* Hide the second error message for small screens */
  }

  .or_message {
    display: none; /* Hide the "Or" message for small screens */
  }
}
