.admin_reports_outer_container * {
  box-sizing: border-box;
}

.admin_reports_outer_container {
  width: 100vw;
  display: flex;
}

.admin_reports_inner_container {
  padding: 3rem;
  flex-grow: 0;
}

.admin_reports_inner_container h1 {
  font-weight: 400;
}

.admin_reports_inner_container h3 {
  margin-top: 1rem;
  font-weight: 400;
}

.admin_reported_jobs_data_grid {
  margin: 3rem 0;
  height: 80%;
  width: 100%;
}

.admin_reported_jobs_data_grid a {
  color: #0057b1;
}

.resolve_reported_tickets_switch {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid;
  margin-top: 1.5rem;
}

.resolve_reported_tickets_active {
  background-color: #0057b1;
  color: white;
  border: 1px #0057b1;
}

.admin_report_submission_data {
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
}

.admin_report_submission_data span {
  font-weight: 500;
}

.admin_report_submission_data h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.admin_report_job_details {
  margin-bottom: 0.4rem;
}

.admin_report_job_details div {
  display: flex;
  gap: 1rem;
}

.admin_report_job_details p {
  margin: 0.3rem 0;
  min-width: 150px;
}

.admin_report_actions button {
  border: 1px solid;
  outline: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 8px;
}
